
/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.container {
  margin: 20px auto;
  max-width: 1000px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#navbar {
  height: 70px;
  background-color: #3A0CA3;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 22px;
  font-weight: 550;
  letter-spacing: 0.9px;
}

.nav-btn {
  cursor: pointer;
}

.nav-btn a {
  display: inline;;
  color: white;
  text-decoration: none;
}

.nav-btn .install-img { 
  width: 50px;
  height: 50px;
  display: none; 
}

/* Form Styles */
.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: inline-block;
  margin-bottom: 8px;
  font-weight: 600;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-info {
  background-color: #007bff;
  color: white;
}

/* Note Card Styles */
.note {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
}

.note-header {
  font-size: 24px;
  margin-bottom: 20px;
}

.note-content {
  font-size: 16px;
}

.flex-row {
  display: flex;
}

.justify-flex-end {
  justify-content: flex-end;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
}

.btn-warning {
  background-color: #ffc107;
  color: black;
}

.m-6 {
  margin: 6px;
}

/* Utility */
.mr-3 {
  margin-right: 3rem;
}

.ml-3 {
  margin-left: 3rem;
}

@media screen and (max-width: 768px) {
  .nav-btn a { 
    display: none; /* hide button */
  }
  nav h1 {
    font-size: 1.5rem;
  }

  .nav-btn .install-img { 
    display: inline-block;
  }
}